/*eventPage.module.css*/

.mainPageEvent {
}
.eventPageContainer {
  padding: 2%;
}
.mainSearchInput {
  width: 40%;
  margin-bottom: 2%;
}
.eventCardStyle {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.topBarStyle {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: fit-content;
}
