/*users.module.css*/

.topBarStyle {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: fit-content;
}
.mainPageContainer {
  padding: 1%;
}
.mainTitle {
  color: #161855;
}
.dialogueContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
.mainAddUserBtn {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-bottom: 2%;
}
.searchBar{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1%;
}
