/*changePassword.module.css*/
.mainAccount{
    padding: 1%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
h1{
    color: #161855;
}
.updateButton{
    display: flex;
    justify-content: end;
}