/*signIn.module.css*/

.mainSignin {
  display: flex;
  width: 100%;
  height: 100vh;
}

.leftSigninPage {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
}
.inputAll {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 10em;
}

.signinTitle {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  font-size: 2.4em;
  color:#39364f;
}
.rightSigninPage {
  background-color: #161855;
  width: 40%;
}

.mainRightPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  gap: 20%;
}
.titleRightPage {
  font-size: 2em;
}
.descRightPage {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  color: white;
  justify-content: space-evenly;
  margin-top: 60%;
}
.powered {
  font-size: 13px;
  color: white;
  align-items: center;
  text-align: center;
}
.dialogueContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}
.signUpRow{
  display: flex;
  gap: 20px;
}
.topBarStyle{
  position: fixed;
  z-index: 2;
  width: 100%;
  height: fit-content;
}
.logo{
  width: 40%;
}
