/* topBar.module.css */
.mainTopBar {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1%;
  opacity: 10;
}

.menuButtons {
  display: flex;
}
.buttonName {
  font-weight: bold;
  cursor: pointer;
  color: #39364f;
  opacity: 1;
  z-index: 1;
  transition: 100ms;
}
.buttonBar {
  display: flex;
  gap: 200px;
  flex-direction: row;
  border-bottom: transparent solid 0.5px;
}
.buttonName:hover {
  border-bottom: white solid 0.5px;
}
.contactButton {
  border-bottom: transparent 0.5px solid;
  color: #39364f;
  cursor: pointer;
  width: 82px;
  font-weight: bold;
}
.contactButton:hover {
  border-bottom: white 0.5px solid;
}
.linkStyle {
  text-decoration: none;
}
