/*updateAccount.module.css*/

.mainAccount {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 5%;
  gap: 30px;
}
.accountRow {
  display: flex;
  justify-content: space-between;
}
.updateButton {
  display: flex;
  justify-content: end;
}
@media only screen and (max-width: 600px) {
  .mainAccount {
    gap: 10px;
  }
  .accountRow {
    flex-direction: column;
    gap: 10px;
  }
}
